<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Design</title>
</head>
<body>
    <!--
        You arrive here by GetMapping()
        Due to the form tag's method being assigned to POST when you leave you land at JobController.processJobForm

    -->
    <H1>Job Design</H1>
    <form method="POST" th:object="${design}">

        <label>Name: </label>
        <input type="text" th:field="*{name}"/>
        <span
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>

        <br />

        <label>Args: </label>
        <input name="args" type="text"></h3>

        <br />

        <input nae="submit" type="submit" />
    </form>
</body>
</html>