<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job List</title>
</head>
<body>
    <h1>Job List</h1>
    <table border="1">
        <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Args</th>
        </tr>
        <!--
    <div th:each="job, status : ${jobList}">
        <tr>
            <td><div th:text="${status.index + 1}">1</div></td>
            <td><div th:text="${job.name}">No Name</div></td>
            <td><div th:text="${job.args}">No Args</div></td>
        </tr>
    </div>
    -->
    </table>
    <br />
    <!--<input type="button" onclick="window.location.href='/'" value="Add Job"/>-->
    <a th:href="@{/}"><button>Add Job</button></a>
</body>
</html>